.navigation-bar {
    background-color: #ffff;
    display: flex ;
    justify-content: center;
    color: #363636;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    gap: 350px;
    right: 0;
    z-index: 999; // Garante a barra superior sempre na frente dos outros itens

    .name{
        padding-left: 30px;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #363636;
    }
    .links-container{
        padding-right: 70px;
        display: flex;
        gap: 40px;
        font-weight: 600;
        font-size: 20px;
        
        line-height: 42px;
        color: #363636;
        .a{
            color: #fff;
            
        }
    }

}