.tecnologies-container {
  max-width: 70%;


 .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
 }


  p {
    font-weight: 300;
    line-height: 40px;
    font-size: 30px;
    color: var(--text-primary);
    padding-bottom: 30px;
  }

 
  /* @media (max-width: 400px){
    p{
      font-weight: 100;
      line-height: 20px;
      font-size: 10px;

    }
    
  } */


  

  

}


.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  
 }